<%- include('../partials/header') %>

<h1>Welcome To RL-Match-Tracker</h1>
<h1>Players</h1> 
    
    <ul>
        <% players.forEach(function(player) { %>
          <li class="player-details">
            <strong>Name:</strong> <%= player.name %><br>
            <strong>Skill Group:</strong> <%= player.skillGroup %><br>
            <strong>Match Type:</strong> <%= player.matchType %><br>
            <strong>Details:</strong> <%= player.details %><br>
            <form action="/trackers/<%= player._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove Player</button>
              </form>
            <a href="/players/<%= player._id %>">View Details</a>
          </li>
        <% }); %>
    </ul>

<%- include('../partials/footer') %>