<%- include('../partials/header') %>

<div class="md:container md:mx-auto">
    <h1 class="text-4xl">Players</h1>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-8">
        <% players.forEach(function(player) { %>
            <div class="bg-blue-600 rounded-lg shadow-md p-4">
                <div class="text-xl font-semibold mb-4">
                    <strong>Name:</strong> <%= player.name %><br>
                    <strong>Skill Group:</strong> <%= player.skillGroup %><br>
                </div>
                <a href="/trackers/<%= player._id %>/showMatches" class="block text-center text-blue-500 hover:text-blue-700">View Details</a>
                <form action="/trackers/<%= player._id %>?_method=DELETE" method="POST" class="mt-4">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-full">Remove Player</button>
                </form>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>