<%- include('../partials/header') %>


<div class="md:container md:mx-auto">
<h1 class="text-4xl">Players</h1>
    <ul class="grid grid-cols-4 ">
        <% players.forEach(function(player) { %>
          <li class="player-details">
            <div class="text-2xl">
            <strong>Name:</strong> <%= player.name %><br>
            <strong>Skill Group:</strong> <%= player.skillGroup %><br>
            <a href="/trackers/<%= player._id %>/show" class="font-weight 400">View Details</a>
            </div>
            <form action="/trackers/<%= player._id %>?_method=DELETE" method="POST">
                <button type="submit" class="bg-slate-800 text-white hover:bg-slate-900 px-5 py-2 rounded-full" >Remove Player</button>
              </form>
          </li>
        <% }); %>
    </ul>
</div>
<%- include('../partials/footer') %>