<%- include('../partials/header') %>


<h1 class="text-6xl">Add Matches</h1>
<ul>
    <% players.forEach(function(player) { %>
        <li>
            <h2 class="text-4xl"><%= player.name %></h2>
            <form action="/trackers/<%= player._id %>/matches" method="POST">
                <label for="result">Match Result:</label>
                <select id="result" name="result" required>
                    <option value="Win">Win</option>
                    <option value="Loss">Loss</option>
                </select>
                <label for="score1">Team 1:</label>
                <input type="number" id="score1" name="score1" min="0" max="25" required>
                <label for="score2">Team 2:</label>
                <input type="number" id="score2" name="score2" min="0" max="25" required>
                <label for="playerScore">Player Score:</label>
                <input type="number" id="playerScore" name="playerScore" min="0" max="5000" required>
                <label for="playerGoals">Player Goals:</label>
                <input type="number" id="playerGoals" name="playerGoals" min="0" max="25" required>
                <button type="submit">Add Match</button>
            </form>
            <ul>
                <% player.matches.forEach(function(match) { %>
                  <li>
                    <%= match.result %> - <%= match.score1 %> - <%= match.score2 %> - <%= match.playerScore %> - <%= match.playerGoals %>
                  </li>
                <% }); %>
            </ul>
        </li>
    <% }); %>
</ul>


<%- include('../partials/footer') %>

