<%- include('../partials/header') %>
<h1>Match Details</h1>

<% matches.forEach(function(match) { %>
    <div>
        <strong>Match Type:</strong> <%= match.type %><br>
        <strong>Match Result:</strong> <%= match.result %><br>
        <% if (match.details) { %>
            <strong>Match Details:</strong> <%= match.details %><br>
        <% } %>
    </div>
<% }); %>




<%- include('../partials/footer') %>