<%- include('../partials/header') %>

<div class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="md:col-span-2">
        <h1 class="text-4xl mb-8">All Matches</h1>

        <% players.forEach(player => { %>
            <div class="bg-blue-900 rounded-lg shadow-md p-6 mb-6">
                <h2 class="text-4xl mb-4"><%= player.name %></h2>
                <p class="text-2xl"><strong>Skill Group:</strong> <%= player.skillGroup %></p>
                
                <ul class="mt-4">
                    <% player.matches.forEach(match => { %>
                        <li class="mb-2">
                            <strong>Result:</strong> <%= match.result %><br>
                            <strong>Team 1:</strong> <%= match.score1 %><br>
                            <strong>Team 2:</strong> <%= match.score2 %><br>
                            <strong>Player Score:</strong> <%= match.playerScore %><br>
                            <strong>Player Goals:</strong> <%= match.playerGoals %><br>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% }) %>
    </div>
</div>

<div class="container mx-auto mb-8">
    <h3 class="bg-blue-900 text-center mb-4">Just a representation of where you roughly sit with how many hours you have played.</h3> 
    <img src="https://i.imgur.com/xbolgfJ.jpeg" alt="SSL" class="w-full rounded-lg shadow-md">
</div>
