<%- include('../partials/header') %>


<h1>All Matches</h1>

<% players.forEach(player => { %>
    <div class="player-info">
      <h2 class="text-4xl"><%= player.name %></h2>
      <p><strong>Skill Group:</strong> <%= player.skillGroup %></p>
      
      <ul>
        <% player.matches.forEach(match => { %>
          <li class="match">
            <strong>Result:</strong> <%= match.result %><br>
            <strong>Team 1:</strong> <%= match.score1 %><br>
            <strong>Team 2:</strong> <%= match.score2 %><br>
            <strong>Player Score:</strong> <%= match.playerScore %><br>
            <strong>Player Goals:</strong> <%= match.playerGoals %><br>
          </li>
        <% }); %>
      </ul>
    </div>
  <% }) %>

<%- include('../partials/footer') %>